<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Authors List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <!-- ${author} call atribute from Model sent by Spring-->
    <tr th:each="author : ${authors}">
        <!-- we don't need put text inside <td> elements (Thymeleaf will fill them) but doing so is handy
        while viewing raw template in a browser-->
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName}">Joe</td>
        <td th:text="${author.lastName}">Doe</td>
    </tr>
</table>

</body>
</html>